

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffff;
  border-radius: 0%;
}
.main-body {
  height: 88vh;
  box-shadow: 4px 3px 21px -10px gray;
}

/* Signup page */
.sign-in-page {
  width: 30%;
  height: 30%;
  margin: 10% auto;
}
.sign-in-form {
  display: flex;
  flex-direction: column;
  padding: 60px 50px;
  border-radius: 15px;
  background: #fdfdfd;
}
.sign-in-form label {
  margin-bottom: 10px;
  margin-left: 5px;
}
.sign-in-form input {
  padding: 10px 12px;
  margin-bottom: 10px;
  border-radius: 12px;
  border-style: solid;
  font-size: 17px;
}

.sign-in-form input:focus{
  outline: none;
  box-shadow: 2px 2px 22px -9px #000;
  border-color: #6f7b7e;
}

.sign-in-form .button {
  border: none;
  background-color: #8d42fb;
  color: #ffffff;
  margin-top: 12px;
  font-weight: 500;
}
.sign-in-form .button:hover {
  background-color: #69459e;
  color: #ffffff;
  cursor: pointer;
}
.sign-in-form .forgot-password {
  text-align: center;
margin-top: 12px;
}
.sign-in-form .forgot-password a {
  text-decoration: none;
}
/* a:-webkit-any-link {
  text-decoration: none;
  color: #848181;
  border-bottom: 1px solid #b7b7b7;
} */
.active {
  color: #000;
}