.submit-section {
  background-color: #ffff;
  width: 277px;
  margin-top: -96px;
  box-shadow: 5px 8px 19px -3px rgb(177, 173, 173);
  left: -139%;
  border-radius: 5px;
  border: 2px solid #0056b3;
  height: auto;
  position: relative;
}
/* 
.toggle-submission-button{
   margin-top: 10px;
background-color: aqua;
} */
.submission-option {
  display: none; /* Initially hide the submission options */
  margin-top: 10px;
  text-align: left;
}

/* Style for the Add File and Add Link buttons */
.submission-option button {
  background-color: #2ecc71;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
}

.add-create{
  display: inline-block;
  margin: 29px;
  background-color: white;
  color: #0056b3;
  width: 198px;
  border: 1px solid #8e8b8b;
  padding: 4px 20px;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 37px;
}
.lnk-optn{
 
  margin: 19px;
  background-color: white;
  color: #0056b3;
  width: 164px;
  border: 1px solid #8e8b8b;
  padding: 5px 20px;
  border-radius: 5px;
  margin-top: -7px;
}
.lnk-optn:hover{
background-color: #0056b3;
color:#fff;
}
.fas-fa-link{
  margin-left: 22px;
  background-color: #bf96b4;
}

element.style {
  position: relative;
  top: -1px;
  left: -71px;
}
/* .toggle-submission-button {
  display: inline-block;
  margin: 20px;
} */

/* .toggle-submission-button button {
  background-color: white;
  color: #0056b3; */

  /* padding: 10px 20px; */
  /* cursor: pointer;
  width: 260px;
  border: 1px solid #8e8b8b;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 30px;
} */

.save-btn {
  cursor: pointer;
  width: 122px;
  border: 1px solid #8e8b8b;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 30px;
  background-color: #0056b3;
  color: #ffff;
  height: 41px;
  margin-left: 76px;
  margin-top: 0px;
  text-align: center;
}
/* Style for file and link input fields */
/* .file-submission,
  .link-submission {
    display: none; Initially hide the input fields
    margin-top: 10px;
  } */

/* .file-submission label, */
/* .link-submission label { */
  /* display: block;
  margin-bottom: 5px;
  background-color: #0056b3;
  margin-right: 400px;
  color: #fff;
  width: 500px;
} */

/* .file-submission input[type="file"],
  .link-submission input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
  } */
/* .file-submission { */
  /* width: 500px;
  /* background-color: #2ecc71; */
  /* margin-left: -500px;
  height: 120px;
  background-color: aqua;

  margin-top: -200px; */ 
/* } */
/* .submission-option{
    width: auto;
  } */
/* styles.css */

.submission-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #0056b3;
  padding: 100px;
}

/* .submission-option button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  } */

.submission-option button:hover {
  background-color: #0056b3;
}

/* .file-submission {
    display: none;
    margin-top: 10px;
  } */

.file-submission label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* .file-submission [type="file"] {
  display: block;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  background-color: aquamarine;
}

.file-submission [type="file"]:focus {
  outline: none;
  border-color: #0056b3; */
/* } */
.title {
  font-size: 50px;
  border-bottom: 2px solid #0056b3;
}
.detail {
  width: 74%;;

  margin-left: 10px;
}
.submit {
  background-color: #fff;
  width: 400px;
  margin-left: 120%;
  height: 100vh;
}

.detail-title {
  font-size: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  color: #0056b3;
}
.detail-date {
  margin-left: 44%;
  /* border-bottom: 2px solid #0056b3; */
}
.detail-create{
  margin-left: 4%;
}
.detail-points{
  margin-left: 5%;
}
.title-date {
  border-bottom: 2px solid #0056b3;
}

.detail-description {
  border-bottom: 1px solid gray;
}
.uploaded-files {
  background-color: rgb(22, 41, 35);
  margin-top: 9px;
}
.select-assignment {
  margin-top: 30px;
  margin-left: 10px;
}
.custom-file-input {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}

.custom-file-input input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.custom-file-input span {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.uploaded-files {
  background-color: #fff;
  position: relative;
  margin-top: 9px;
  padding-top: 10px;
}
.upload {
  background-color: #d4dbe7;
    width: 239px;
    height: 48px;
    margin-left: -15px;
    border-radius: 5px;
    text-align: center;
    padding-top: 5px;
    border: 2px solid #0056b3;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 5px 8px 19px -3px rgb(177, 173, 173);
    font-family: 'Times New Roman', Times, serif;
    text-align: end;

}

/* Add this CSS to your AssignmentView.css file or in a separate CSS file */
.upload {
  list-style: none;
  padding-left: 0; 
}
.resources{
  list-style: none;
  padding-left: 0; 
}

/* ul.upload li::before {
  content: "\1F4C4"; 
  display: inline-block;
  font-size: 20px; 
  margin-right: 65px;
}

.resource-files {
  background-color: #fdfefd;
}

ul.resources {
  width: 30px;
  padding-top: 20px;
  list-style: none;
  text-align: center;
} */
/* .res {
  background-color: rgb(244, 250, 250);
  width: 300px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  border-left: 3px solid #0056b3 ;
  padding-top: 40px;
  margin-bottom: 10px; /* Space between elements */
  /* padding: 10px; */
  /* border-radius: 5px;
  text-align: center;
  position: relative;
  box-shadow: 5px 8px 19px -3px rgb(177, 173, 173);
} */ 
.texeria {
  margin-right: 72px;
  margin-top: -26px;
}
.texeria:hover{
  background-color: #0056b3;
  color:#fff;
}

.texeria_two{
  margin-right: 72px;
  margin-top: -26px;
}

.texeria-tex{
  margin-left: -48px;
    margin-top: -23px;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.texeria-tex:hover{
  background-color: #2ecc71;

}

.fas.fa-file {
  /* Add your styling here */
  font-size: 30px; /* Set the font size */
  color: #0056b3; /* Set the color */
  /* You can add more styles as needed */
}
.confirmation-dialog{
  background-color: #fff;
  margin-top: -300px;
  width: 393px;
  box-shadow: 5px 8px 19px -3px rgb(173, 173, 177);
  position: absolute;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: normal;
  align-items: center;
  flex-wrap: wrap;
  left: -782px;

}

.upload-link{
  width: '100%';
  padding: '200px';
  font-size: '16px';
  border-radius: '6px';
  border: '1px solid #ccc';
  box-shadow: '0 2px 4px rgba(0, 0, 0, 0.1)';
  transition: 'border-color 0.3s ease';
  outline: 'none';
  background-color: '#f5f5f5';

}

.custom-file-input {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-fil {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.custom-button {
  background-color: #fff;
    color: #0056b3;
    padding: 7px 7px;
    cursor: pointer;
    border-radius: 5px;
    width: 165px;
    font-size: 15px;
    margin-top: -148px;
    margin-left: 18px;
    border: 1px solid grey;
}

.custom-button:hover {
  background-color: #0056b3;
  color:#fff
}

/* ****************************       Theses Css class should be change   ******************** */
/* 
/* .ul {
  list-style-type: none; /* Remove default list bullet points */
  /* padding: 0; */
  
/* } */

/* .li {
  display: flex; /* Use flexbox for layout */
  /* align-items: center; /* Vertically center the content */
  /* justify-content: space-between; /* Space between items */
  /* margin-bottom: 10px; /* Add margin for spacing between list items */
  /* width: 300px;
} */ 


/* *********************************************************************************** */




/* Style for the file name */
.file-name {
  margin-left: 1px; /* Add space to the right of the file name */
  width: 700px; /* Set the width of the file name */
  padding: 5px; /* Add padding to the file name */
  background-color: #35172d;
}

/* Style for the download link */
.res {
  text-decoration: none; /* Remove underlines from links */
  width: 100px; /* Set the width of the download link */
  padding: 5px; /* Add padding to the download link */
  background-color: rgb(244, 250, 250);
  width: 300px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  border-left: 3px solid #0056b3 ;
  padding-top: 40px;
  margin-bottom: 10px; /* Space between elements */
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  position: relative;
  box-shadow: 5px 8px 19px -3px rgb(177, 173, 173);
}

.submitted-status {
  color: green;
  margin-right: -63px;
  font-family:'Times New Roman', Times, serif;
  font-size: 18px;
}

.done-status {
  color: blue;
  margin-right: 17px;
  font-family:'Times New Roman', Times, serif;
  font-size: 18px;
}

.resubmitted-status {
  color: orange;
  margin-right: -63px;
  font-family:'Times New Roman', Times, serif;
  font-size: 18px;
}

.late-submission-status {
  color: red;
  margin-right: -63px;
  font-family:'Times New Roman', Times, serif;
  font-size: 18px;
}

.not-submitted-status {
  color: gray;
  margin-right: -63px;
  font-family:'Times New Roman', Times, serif;
  font-size: 18px;
}

.submission-status{
  background-color: #fef8fc;
  text-align:right;
  width: 201px;
  font-family:sans-serif;
}

.image-style{
  width: 50px;
  filter: brightness(1.2) saturate(100%) hue-rotate(21deg) contrast(1) grayscale(15%);
  margin-left: 2px;
  margin-bottom: 10px;
}
.link-place{
  background-color: #fff;
  width: 284px;
  margin-left: -598px;
  margin-top: -245px;
  height: 139px;
  box-shadow: 5px 8px 19px -3px rgb(177, 173, 173);
  position: absolute;
}
.link-btn{
  width: 107px;
  background-color: #0056b3;
  margin-top: 5px;
  margin-left: 74px;
  border-radius: 4px;
  color: white;
  border: none;
  height: 29px;
  
}
/* .load-img{
  background-color: #dee2e6;
  margin-left: -318px;
  width: 293px;
  margin-top: -157px;
  height: 141px;
  border-radius: 10px;
} */
.add-create-dropdown{
  background-color: #fff;
  
    border-radius: 10px;
    height: auto;
}

.load-img .close-icon{
  background-color: #2ecc71;
  border-radius: 6px;
  height: 20px;
  margin-top: -137px;
  width: 292px;}
.close-icon2{
  position: relative;
  left: 237px;
  top: -16px;
}
.lnk{
  margin-left: 75px;
}
.fil{ 
  margin-left: 15px;
  margin-left: -133px;
}
.lnk-text{
  margin-top: -8px;
  margin-left: 47px;
  width: 192px;
  height: 42px;
  border-radius: 4px;
  border: 2px solid #adb5bd;
  font-family: ui-sans-serif;
  border: 2px solid #0056b3;
}
.submission-options-dropdown{
  background-color: #fff;
  width: 205px;
  margin-left: 29px;
  margin-top: -14px;
  padding: 8px;
}
.upld-dlg{
background-color: #35172d;
}
.close-icon
{
  width: 1px;
  font-size: 14px;
  height: 0px;
  margin-left: 224px;
}
.confirm-btn{
  cursor: pointer;
  width: 97px;
  border: 1px solid #8e8b8b;
  padding: 6px 20px;
  border-radius: 7px;
  margin-bottom: 30px;
  background-color: #0056b3;
  color: #ffff;
  height: 37px;
  margin-left: 153px;
  margin-top: 0px;
  text-align: center;
}
.resubmit-btn{
  
  cursor: pointer;
  width: 190px;
  border: 1px solid #8e8b8b;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 30px;
  background-color: #0056b3;
  color: #ffff;
  height: 41px;
  margin-left: 40px;
  margin-top: 0px;
  text-align: center;
}
.cancel-btn{
  cursor: pointer;
  width: 97px;
  border: 1px solid #8e8b8b;
  padding: 6px 20px;
  border-radius: 7px;
  margin-bottom: 30px;
  background-color: #0056b3;
  color: #ffff;
  height: 37px;
  margin-left: 8px;
  margin-top: 0px;
  text-align: center;

}


.pass{
  color: green;
}
.fail{
  color: red;
 
}
.font{
  width: 38px;
  margin-left: 1px;
}
.fil-text{
  font-size: 16px;
  margin-right: 82px;
  margin-top: -32px;
}
.head{
filter: brightness(1.2) saturate(328%) hue-rotate(400deg) contrast(1) grayscale(28%);
width: 50px;
margin-left: 1px;
}
.detail-points-and-date {
  display: flex; /* Use flexbox to place the elements in a row */
  align-items: center; /* Vertically align the content */
}

.detail-points-and-date strong {
  margin-right: 10px; /* Add spacing between the strong elements */
}
.submitted-links{
  font-size: 17px;
  margin-left: 22px;
  background-color: #dee2e6;
  width: 240px;
  border-radius: 5px;
  font-family: ui-serif;
  
}
 
.lnk-upld{
  list-style: none;
  padding-left: 0; 
  margin-left: -29px;
}


.feedback-and-grade{
  background-color: #f9fcff;
  margin-top: 31px;
  width: 277px;
  padding: 28px;
  border: 2px solid #0056b3;
  display: flex;
  flex-direction: row;
  position: absolute;
  box-shadow: 5px 8px 19px -3px rgb(177, 173, 173);
  border-radius: 5px;
  height:200px;
}
.feedback-fb{
  left: 21px;
  position: absolute;
  margin-top: 72px;
}
 
.status{
  
  margin-top:-17px;
}

.grade-gd{
      left: 23px;
    position: absolute;
    margin-top: 48px;
}
.rem-fil{
      /* position: absolute; */
      display: flex;
      justify-content: center;
      margin-left: 200px;
      align-items: flex-start;
      align-content: center;
      flex-direction: row;
      margin-top: -21px;
      cursor: pointer;
}

.rem-link{
  display: flex;
  justify-content: center;
  margin-left: 216px;
  align-items: flex-start;
  flex-direction: row;
  margin-top: -40px;
  cursor: pointer;
  align-content: space-around;
  position: absolute;
}
.pht{
  display: flex;
    width: 36px;
}


.edit-file-input input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.edit-file-input span {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.edit-file-input {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.edit-fil{

  background-color: #fff;
  color: #0056b3;
  padding: 7px 7px;
  cursor: pointer;
  border-radius: 5px;
  width: 172px;
  font-size: 15px;
  margin-top: 12px;
  margin-left: 47px;
  border: 1px solid grey;
}

.edit-fil:hover{
  background-color: #0056b3;
  color:#fff;
  }