.grading-screen-main-container {
  /* border: 1px solid black; */
  padding: 10px;
  margin: 10px;
}

.filters-main-container {
  /* border: 1px solid black; */
  display: flex;
  /* gap: 20px; */
  /* background-color: red; */
  justify-content: center;
  align-items: center;
}

.end-btn {
  padding: 16px;
  width: 7%;
  font-size: 20px;
  box-shadow: 5px 8px 19px -3px rgb(177, 173, 173);
  display: flex;
  justify-content: flex-end;
  background-color: red;
  align-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  height: 40px;
  /* margin-left: 643px; */
  border: none;
  color: white;
}

.filter-container {
  display: flex;
  /* gap: 10px; */
}
.filter-container button {
  padding: 10px;
  /* border-radius: 10px; */
  border: 1px solid grey;
  background-color: lightgray;
  width: 130px;
  text-align: center;
}

/* .filter-container button .all:hover {
  background-color: red;
} */

.filter-button.all:hover {
  background-color: grey;
}

.filter-button.passed:hover {
  background-color: #63d4af;
}

.filter-button.failed:hover {
  background-color: #d18a7e;
}

.filter-button.pending:hover {
  background-color: lightblue;
}

/* -------xxxxxx---------- */

.filter-button.all:active {
  background-color: grey;
}

.filter-button.passed:active {
  background-color: #63d4af;
}

.filter-button.failed:active {
  background-color: #d18a7e;
}

.filter-button.pending:active {
  background-color: lightblue;
}

/* -------xxxxxx---------- */

.search-menu {
  width: 15%;
}

.courses-container {
  /* border: 1px solid black; */
  border: none;
  margin-top: 20px;
}

.courses-container ul {
  padding: 0px;
}
.courses-container ul li .list-item {
  /* background-color: blue; */
  width: 100%;
  display: flex;
  flex-direction: column;
  /* margin-bottom: 10px; */
}
.opn-btn {
  background-color: #008cba;
  display: flex;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  align-items: center;
  margin: 10px;
  width: 70%;
  justify-content: center;
}
.table-submission-data {
  border-bottom: 1px solid black;
}

.status-dropdown-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.status-dropdown {
  padding: 10px;
  /* padding: 6px 12px; */
  /* margin: 6px 2px 3px; */
  border-radius: 6px;
  border-style: solid;
  display: flex;
  border-color: #eee;
  font-size: 17px;
  /* width: 21%; */
  /* margin-left: 413px; */
  margin-top: 1px;
  justify-content: center;
  align-content: flex-end;
  flex-direction: column;
  height: 44px;
}

.collapse-btn {
  padding: 30px;
  width: 100%;
  font-size: 20px;
  /* box-shadow: 5px 8px 19px -3px rgb(177, 173, 173); */
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-right: 10px;
  border: none;
  /* font-size: 15px; */
  font-family: sans-serif;
  background-color: #fefcff;
  padding: 10px;
  /* border: 1px solid black; */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.collapse-btn.course {
  /* background-color: #FEFCFF; */
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  color: #FEFCFF;
  font-weight: bold;
}

.collapse-btn.module {
  /* background-color: 	#C0C0C0; */
  /* background-color: #A9A9A9	; */
  background-color: #0096ff;
  color: #fefcff;
  font-weight: bold;
}

.collapse-btn.unit {
  /* background-color: #d3d3d3; */
  color: #fefcff;
  font-weight: bold;
}

.collapse-btn.assign {
  background-color: #f5f5f5;
}

.view-button {
  background-color: #008cba;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 20px !important;
  cursor: pointer;
  margin: 10px;
}
.courses-container ul li button .end-btn {
  /* padding: 0px; */
}

.list-item {
  list-style: none;
}

.overDue {
  color: red;
}

.on-time {
  color: green;
}

.collapse-icon-course {
  /* background-color: red; */
}

.active-all {
  background-color: red;
}

.popup-close-icon {
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
  color: red;
}

.feedback-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

/* -----------Assignment Table---------- */
/* Add this CSS to a separate CSS file or use inline styles within your component */

/* Style for the main container */
/* div {
    text-align: center;
    margin: 20px;
  } */

.assignment-table {
  width: 100%;
  border-collapse: collapse;
  padding: 10px;
  text-align: left;
  box-shadow: 5px 8px 19px -3px rgb(177, 173, 173);
  /* z-index: 1; */
  /* background-color:red; */
  position: relative;
  align-items: center;
  justify-content: center;
}

.assign-lin {
  width: 100%;
  border-collapse: collapse;
}
.assign-board {
  background-color: lightblue;
  font-weight: bold;
}
.assign-col {
  height: 48px;
  box-shadow: 5px 8px 19px -3px rgb(177, 173, 173);
}
/* Style for the table */
/* table {
    width: 100%;
    border-collapse: collapse;
  } */

/* table, th, td {
    border: 1px solid black;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  } */

/* Style for the pop-up */
.popup {
  /* display: none; */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.popup2 {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  justify-content: center;
  align-items: center;
}
.popup-content2 {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  width: 70%;
  /* height: auto; */
  margin-left: 100px;
  margin-top: 117px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;
  height: 70vh;
}
.popup-content2 .content2 {
}
.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  width: 48%;
  /* height: auto; */
  margin-left: 337px;
  margin-top: 117px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.grade-status-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup-content .grade-status-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* justify-content: space-around; */
  /* gap: 30px; */
  /* margin-left: 20px; */
}

.popup-content .grade-status-container input {
  /* margin-left: 10px;
    margin-right: 10px; */
  padding: 10px;
}

.submit-button.popup {
  margin-left: 0px;
}

.popup-submit-button {
  /* width: 20%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 4px 15px;
  cursor: pointer;
}

/* Style for the Submit button */

/* Style for the input fields */
.feedback-input input[type="text"],
textarea {
  /* width: 55%; */
  padding: 10px;
  /* margin: 8px 0; */
  border: 1px solid #ccc;
  border-radius: 3px;
  /* margin-left: 109px; */
}

/* .feedback{
    left: 40px;
    position: absolute;
    margin-top: 30px;
  } */
.grade {
  /* left: 60px;
    position: absolute;
    margin-top: 8px; */
  margin-right: 10px;
}
.grade-input {
  /* width: 29%;
    padding: 8px;
    margin: 5px 0; */
  border: 1px solid #ccc;
  border-radius: 3px;
  /* margin-top: -2px;
    position: absolute;
    margin-left: 109px; */
}
.clos {
  width: 20px;
  color: aliceblue;
}
.head-row {
  /* background-color: #0056b3; */
  height: 38px;
  /* color: white; */
  /* box-shadow: 5px 8px 19px -3px rgb(177, 173, 173); */
  align-items: center;
  justify-content: center;
}

.head-row tr {
  align-items: center;
  justify-content: center;
  text-align: center;
  /* background-color: #f44336; */
}
.pending-status {
  background-color: #bcb9b6;
  position: absolute;
  margin-top: 10px;
  border-radius: 10px;
  padding: 3px 7px;
  color: #fff;
  font-size: 14px;
}

.passed-status {
  background-color: #63d4af;
  position: absolute;
  margin-top: 10px;
  border-radius: 10px;
  padding: 3px 7px;
  color: #fff;
  font-size: 14px;
}
.not-passed-status {
  background-color: #d18a7e;
  position: absolute;
  margin-top: 10px;
  border-radius: 10px;
  padding: 7px 7px;
  color: #fff;
  font-size: 10px;
}
.content {
  background-color: #93d0e4;
  /* padding: 10px; */
  /* width: 40%; */
  /* height: 38px; */
  border-radius: 5px;
  /* margin-left: 75px; */
  /* margin-left: 199px; */
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
  /* gap: 10px;
}
.grade-text{
    font-family: 'Times New Roman', Times, serif;
    /* position: absolute; */
  /* margin-left: 331px; */
  /* margin-top: 7px; */
  font-size: 17px;
}
.send-btn {
  background-color: #008cba;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px 7px;
  cursor: pointer;
  margin-top: 50px;
  margin-left: 244px;
}

.popup-content .content .submitted_link {
  background-color: #cff4fc;
  border: 1px solid #cff4fc;
  border-radius: 6px;
}

.popup-content .content .submitted_pdf {
  background-color: #cff4fc;
  border: 1px solid #cff4fc;
  border-radius: 6px;
}

/* .table-submission-data{
  display: flex;
  justify-content: center;
  align-items: center;
} */

.assignment-sub-body {
  text-align: center;
}
/* -----------xxxxxxxxx---------------- */
