/* Add this CSS to a separate CSS file or use inline styles within your component */

/* Style for the main container */
/* div {
    text-align: center;
    margin: 20px;
  } */
  
  .assignment-table{
    width: 100%;
    border-collapse: collapse; 
    
    padding: 10px;
    text-align: left;
    box-shadow: 5px 8px 19px -3px rgb(177, 173, 173);
  }
  .assign-lin{
    width: 100%;
    border-collapse: collapse;
  }
  .assign-board{
    background-color: lightblue;
  font-weight: bold;
  }
  .assign-col{
    height: 48px;
    box-shadow: 5px 8px 19px -3px rgb(177, 173, 173);
  }
  /* Style for the table */
  /* table {
    width: 100%;
    border-collapse: collapse;
  } */
  
  /* table, th, td {
    border: 1px solid black;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  } */
  
  /* Style for the pop-up */
  .popup {
    /* display: none; */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    width: 48%;
    height:auto;
    margin-left: 337px;
    margin-top: 117px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; */
  }

  .submit-button.popup{
    margin-left: 0px;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 4px 15px;
    cursor: pointer;
  }
  
  /* Style for the Submit button */
 
  
  /* Style for the input fields */
.feedback-input  input[type="text"], textarea {
    width: 55%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-left: 109px;
  }

  .feedback{
    left: 40px;
    position: absolute;
    margin-top: 30px;
  }
  .grade{
    left: 60px;
    position: absolute;
    margin-top: 8px;
  }
  .grade-input  {
    width: 29%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: -2px;
    position: absolute;
    margin-left: 109px;
  }
  .clos{
    width:20px;
    color:aliceblue
  }
  .head-row{
    background-color: #0056b3;
    height: 38px;
    color: white;
    box-shadow: 5px 8px 19px -3px rgb(177, 173, 173);
  }
  .pending-status {
    background-color: #bcb9b6;
    position: absolute;
    margin-top: 10px;
    border-radius: 10px;
    padding: 3px 7px;
    color: #fff;
    font-size: 14px;
}

.passed-status {
    background-color: #63d4af;
    position: absolute;
    margin-top: 10px;
    border-radius: 10px;
    padding: 3px 7px;
    color: #fff;
    font-size: 14px;

}
.not-passed-status {
    background-color: #d18a7e;
    position: absolute;
    margin-top: 10px;
    border-radius: 10px;
    padding: 7px 7px;
    color: #fff;
    font-size: 10px;

}
.content{
    background-color: #93d0e4;
    width: 269px;
    height: 38px;
    border-radius: 5px;
    margin-left:75px;
    margin-left: 199px;
}
.grade-text{
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    margin-left: 331px;
    margin-top: 7px;
    font-size: 17px;
}
.send-btn{
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 6px 7px;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 244px;
    
}

.view-button{
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}