.course-create-form, .course-module-form, .course-unit-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.course-title {
    padding: 5px 12px;
    margin: 6px 2px 3px;
    border-radius: 6px;
    border-style: solid;
    border-color: #eee;
    font-size: 17px;
}
.course-title:hover, .course-title:focus {
    outline: none;
    box-shadow: 2px 2px 11px -8px #000;
    border-color: #e3e3e3;
}
.course-create-form .course-title, .course-start, .course-end, .module-title, .module-start, .module-end{
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
}
.unitData-section {
    display: flex;
    justify-content: start;
    width: 100%;
}
.unit-title, .unit-start, .unit-end, .unit-content, .unit-video, .unit-slide, .unit-pdf, .unit-assignment, .unit-quiz {
    display: flex;
    justify-content: space-between;
    width: 48%;
    align-items: center;
}
.visibility {
    display: flex;
    justify-content: space-between;
    width: 18%;
    align-items: center;
    padding-left: 0%;
}
.visibility input {
    position: static;
}
.course-create-form label, .course-module-form label, .course-unit-form-label, .course-unit-content-label, .unit-start label, .unit-end label{
    font-size: 17px;
    font-weight: 500;
    margin-top: 10px;
    margin: 10px 2px 0px 3px;
}
.course-create-form input, .course-module-form input, .course-unit-form input, .unit-content, .unit-video input{
    /* padding: 8px 12px;
    margin: 6px 2px 3px; */
    border-radius: 6px;
    border-style: solid;
    border-color: #eee;
    font-size: 17px;
    width: 100%;
    border: none;
}
.unit-slide i, .unit-pdf i, .unit-assignment i, .unit-quiz i {
    padding: 12px 10px;
    margin: 6px 2px 3px;
    border-radius: 6px;
    /* border-style: solid; */
    /* border-color: #eee; */
    font-size: 17px;
    width: 70%;
    cursor: pointer;
    transition: background .3s ease-in;
}
.unit-slide i:hover, .unit-pdf i:hover, .unit-assignment i:hover {
    /* text-align: center; */
    background: #edf0f1;

}
.unit-content select {
    border: 2px solid #eee;
}
.course-create-form input:hover, .course-module-form input:hover, .course-unit-form input:hover, .unit-content select:hover,
.course-create-form input:focus, .course-module-form input:focus, .course-unit-form input:focus, .unit-content select:focus
 {
    outline: none;
    box-shadow: 2px 2px 11px -8px #000;
    border-color: #e3e3e3;
}

.save-module-btn-container {
    width: 48%;
    display: flex;
    justify-content: end;
}
.save-module-btn-container button {
    width: 25%;
    border: none;
    padding: 8px 0px;
    font-weight: 500;
    background-color: #77b4e5;
    border-radius: 8px;
    margin: 5px 0px;
}
.add-course-btn {
    display: flex;
    justify-content: end;
    margin-top: 12px;
    margin-right: 12px;
}
.course-module-section{
    width: 100%;
    margin: 10px auto 5px ;
    box-shadow: 0px 2px 5px -1px gray;
}
.module-unit-section  {
    margin: 10px auto 0px ;
    box-shadow: 0px 2px 5px -1px gray;
}
.add-module-btn, .add-unit-btn {
    background: none;
    color: black;
    border: none;
    /* border-bottom: 3px solid gray; */
    /* box-shadow: 0px 4px 9px -8px gray; */
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 600;
}
.all-course-content {
    box-shadow: 4px 5px 15px -3px gray;
}
.add-category-content {
    height: 100%;
}
.add-category-content form {
    height: 100%;
}
.add-category-content input, .add-category-content select {
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 3px;
    border-radius: 6px;
    font-size: 17px;
    margin-top: 8px;
}
.add-category-content input:focus,.add-category-content input:hover, .add-category-content select:focus, .add-category-content select:hover {
    outline: none;
    box-shadow: 2px 2px 22px -9px #000;
    border-color: #6f7b7e;
}
.category-save-btn {
    height: 75%;
    display: flex;
    justify-content: end;
    align-items: end;
}
.add-course-content {
    display: flex;
    height: 100%;
   
}
.course-name-section {
    width: 20%;
    box-shadow: 5px 2px 10px -3px gray;
    margin-right: 8px;
    margin-left: -15px;
    padding-top: 20px;
    background-color: #eceff1;
}
.course-name-section div {
    border-bottom: 1px solid #c8c6c6;
}
.course-name-section ul li {
    list-style: none;
    padding: 5px 6px;
    margin: 0px;
    font-weight: 500;
}
.course-form-section {
    width: 86%;
    box-shadow: 4px 3px 21px -10px gray;
    padding: 0px;
    overflow: auto;
}
body::-webkit-scrollbar {
    display: none; 
  }
.course-form-section::-webkit-scrollbar {
    display: none; 
  }
.course-form-section form {
    display: flex;
    flex-direction: column;
}
.offcanvas-head {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
}   

.thumb-section {
    display: flex;
    justify-content: space-between;
    margin-right: 12px;

}
.course-content-editor {
    width: 75%;
}
.course-content-cat-auth{
    width: 25%;
}
.coverImage {
max-width: 20%;
}
.upload-image-section {
    max-width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    cursor: pointer;
    /* padding: 12px 5px; */
}
.course-content-cover-img {
    width: 100%;
    height: 0%;
}
.upload-image-section:hover {
    background-color: #ffffff;
}

.upload-image-section img {
    min-width: 100%;
    max-width: 100%;
    /* height: 100%; */

}
.dropdown-section-for-cat-couthor{
    width: 100%;
}
.category-section, .coauthor-section, .coauther-selection{
    width: 100%;
}
.course-content-label {
    font-size: 16px;
    font-weight: 500;
}
.category-section select, .coauthor-section select {
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 3px;
    border-radius: 5px;
    font-size: 15px;
    border: 2px solid #dedede;
    margin-top: 3px;
    /* margin-left: 12px; */
}
.coauthor-section select:focus, .category-section select:focus{
    border: 2px solid #dedede ;
    outline: none;

}

.unit-list-show {
    width: 85% !important;
    height: 99% !important;
    margin-left: 13% !important;
    border-radius: 10px !important;
    padding: 12px !important;
}
.unit-list-show form {
    padding: 0 30px;
}
.units {
    padding: 0;
}
.units li {
    background: #eceff1;
    padding: 11px;
    border-radius: 4px;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}
.module-list-show {
    width: 85% !important;
    height: 99% !important;
    margin-left: 13% !important;
    border-radius: 10px !important;
    padding: 12px !important;
}
.module-content-section {
    display: flex;
    height: 100%;
}
.module-list-show .module-content-section .navigation {
    width: 13%;
    box-shadow: 5px 2px 10px -3px gray;
    margin-right: 8px;
    margin-left: -10px;
    padding-top: 20px;
    background-color: #eceff1;
}
.module-list-show .module-content-section .content {
    width: 86%;
    box-shadow: 0px 0px 6px -1px gray;
    padding: 15px;
    overflow: auto;
}
hr {
    margin: 0px;
    width: 100%;
    border: none;
    box-shadow: 2px 6px 2px 1px #727070;
}

.unit-list-heading {
    background: #d6d7df;
    height: 54px;
    font-size: 35px;
    padding-top: 5px;
    cursor: context-menu;
}
.courseTitle {
    border: none;
    width: fit-content;
    padding: 10px;
    font-weight: 500;
    background-color: #fef5f5;
}
.moduleTitle , .unitTitle {
    background-color:#fef5f5;
    border: none;
    width: fit-content;
    
}
/* .unitTitle {
    background-color: #f6ecec;
} */
 .courseTitle:focus, .courseTitle:active, .moduleTitle:focus, .moduleTitle:active, .unitTitle:focus, .unitTitle:active {
    border: none;
    outline: none;
}

.course-heading {
    display: flex;
    justify-content: space-between;
    background-color: #fef5f5;
    align-items: center;
    width: 100%;
    box-shadow: 0px 4px 9px -3px gray !important;

}
.course-content-form{
    margin: 5% 2%;
}
.course-content-description-section {
    display: flex;

}
.module-button, .unit-button {
    background-color: #fef5f5;
    display: flex !important;
    justify-content: space-between !important;
    width: 100%;
    padding: 10px 0px 10px 7px;
    box-shadow: 0px 4px 9px -3px gray !important;

}
.unit-button {
    background-color: #fef5f5;
    padding: 8px 0px 8px 7px;
}

.module-button:hover, .module-button:focus, .module-button:active, .module-button:not(.collapsed) {
    background-color: #fef5f5 !important;
    outline: none !important;
    border: none !important;
    box-shadow: 0px 4px 9px -3px gray !important;
}
.unit-button:hover, .unit-button:focus, .unit-button:active, .unit-button:not(.collapsed) {
    background-color: #fef5f5 !important;
    outline: none !important;
    border: none !important;
    box-shadow: 0px 4px 9px -3px gray !important;
}
.module-button::after, .unit-button::after {
    background-image: none;
}
.accordion-button:not(.collapsed)::after {
    background-image: none;
    transform: var(--bs-accordion-btn-icon-transform);
}
.module-collapse-button {
    display: flex;
    background-color: #fef5f5;
    align-items: center;
}
.unit-collapse-button {
    display: flex;
    background-color: #fef5f5;
    align-items: center;
}
.unitSection {
    width: 100%;
    margin: 10px auto;
    /* padding-left: 6%; */
    border: 2px solid #f1f1f1 !important;
}
.date-picker {
    margin-left: 10px;
    margin-right: 7px;
    font-size: 24px;
    color: #28a75a;
}
.option-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    list-style: none;
}
.option-ul li, .option-ul li div input {
    margin-right: 10px;
    cursor: pointer;
    /* min-width: 30px;
    min-height: 30px; */
}
/* .option-ul :last-child{
    min-width: 30px;
    min-height: 30px; 
} */
/* .option-ul :first-child {
    min-width: none;
    min-height: none;
} */
.option-ul li:hover {
    font-size: 18px;
}
.option-main-container {
    position: absolute;
    inset: -8px -3px auto auto !important;
    margin: 0px;
    transform: translate3d(-17.6px, 0px, 0px);
    border-radius: 25px;
    box-shadow: gray 0px 1px 10px 0px;
    border: none;
    max-height: 38px;
}
.module-option {
    inset: -10px -3px auto auto !important;
}

.course-start-field, .course-end-field, .unit-start-field, .unit-end-field, .module-start-field, .module-end-field {
    display: none;
}
#course-date-field, #unit-date-field, #module-date-field {
    padding: 5px 0px;
    border: none;
    border-radius: 8px 3px;
    background-color: #fef5f5;
    cursor: pointer;
}
.course-heading-section {
    width: 80%;
}
.course-heading-section .courseTitle {
    width: 40%;
}
.module-heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.file-content .outer-ul .outer-ul-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: #d2b0d2;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 3px 5px -1px gray;
    margin-top: 10px;
}
.plus-icon{
    font-size: 18px;
    color: #4361d2;
    font-weight: bolder;
}
.plus-icon:hover {
    font-size: 19px;
}
.file-content-options {
    position: absolute;
    inset: -34px 19px auto auto !important;
    margin: 0px;
    transform: translate3d(-104.8px, 356px, 0px);
    border-radius: 30px;
}
.add-unit-btn, .add-module-btn {
    display: flex;
    justify-content: end;
    margin: 0px;
    
}
.add-unit-btn button, .add-module-btn button {
    margin: 4px 0px;
    border: 2px solid #82e3ee;
    outline: none !important;
}
.add-unit-btn button:hover, .add-unit-btn button:focus, .add-unit-btn button:active {
    background-color: #c8c6c6;
    border: 2px solid #c8c6c6;
    box-shadow: none !important;
    outline: none !important;

}
.add-module-btn button:hover, .add-module-btn button:focus, .add-module-btn button:active {
    background-color: #f6c4f8 ;
    border: 2px solid #f6c4f8;
    outline: none !important;
    box-shadow: none !important;
}


.add-new-unit-section, .add-new-module-section {
    margin: 26px 0px 10px;
    box-shadow: 0px 3px 5px -1px gray;
}
.new-unit-heading-section, .new-module-heading-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fef5f5;
    padding: 7px 8px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 9px -3px gray !important;
}
.new-module-heading-section {
    background-color: #fef5f5;
}
.add-new-unit-section .unit-form, .add-new-module-section .module-form {
    padding-left: 20px;
    margin-left: 20px;
    margin-right: 30px;
    padding-bottom: 25px;
}
.unit-video-section {
    display: flex;
    justify-content: start;
}
.add-new-unit-section .unit-form .unit-video-section, .slides-section, .pdf-section, .assignment-section{
    width: 15%;
    min-width: 75%;
    min-height: 40px;
    max-width: 75%;
    max-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.unit-selection-section {
    min-width: 20%;
    max-width: 20%;
    min-height: 40px;
    display: flex;
    justify-content: space-between;
}
.unit-selection-section-video {
    min-width: 15%;
    max-width: 15%;
}
.unit-form-span-title {
    font-weight: 500;
    font-size: 20px;
    font-style: italic;
    text-transform: capitalize;
}
.unit-form-i-title {
    font-size: 22px;
    color: #f10385;
    font-weight: 600;
}
.unit-form-i-title:hover, .unit-form-i-title:focus, .unit-form-i-title:active {
    font-size: 24px;
    color: #8b6dd6;
}
.video-url, .slide-field, .pdf-field, .video-title-field {
    padding: 5px 12px;
    margin: 6px 2px 3px;
    border-radius: 6px;
    border-style: solid;
    border-color: #eee;
    font-size: 17px;
    width: 70%;
}
.video-title-field {
    width: 50%;
}

.video-url:hover, .video-url:focus, .video-url:active, .video-title-field:hover, .video-title-field:focus, .video-title-field:active {
    outline: none;
    box-shadow: 2px 2px 11px -8px #000;
    border-color: #e3e3e3;
}
.unit-field-section {
    min-width: 80%;
}
.check-unit-content {
    font-size: 25px;
    padding-left: 7px;
}
.check-unit-content:hover, .check-unit-content:focus, .check-unit-content:active {
    font-size: 26px;
}
#hide-field {
    display: none;
}
.moduleDescription-label {
    padding: 7px 5px;
    font-weight: 500;
}
.moduleDescription-field {
    padding: 7px 12px;
    margin: 6px 2px 3px;
    border-radius: 6px;
    border-style: solid;
    border-color: #eee;
    font-size: 17px;
    width: 70%;
}
.saveModule-button-section {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 98%;
}
.saveModule-button-section .saveModule-button, .saveModule-button-section .saveUnit-button {
    width: 12%;
    font-weight: 400;
    background-color: #319f67 !important;
    border: none;
    outline: none;
    padding: 8px 12px;
}
.saveModule-button-section .saveUnit-button {
    background-color: #b871bb !important;
    color: #ffff;
}
.saveModule-button-section .saveModule-button:hover, .saveModule-button-section .saveModule-button:focus {
    background-color: #43be7e !important;
    border: none;
    outline: none; 
    color: #000;
}
.saveModule-button-section .saveUnit-button:hover, .saveModule-button-section .saveUnit-button:focus {
    background-color: #e192e3 !important;
    border: none;
    outline: none; 
    color: #000;
}
.unit-video-main-container {
    display: flex;
    align-items: center;
}
.unit-video-icon-section {
    display: flex;
    align-items: center;
}

.add-content-unit{
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.unit-content-file-vidoe-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

}
.coauthor-list-section {
    margin: 0;
    padding: 0;
    list-style: none;
}
.coauthor-name-icon {
    min-width: 15%;
    max-width: 21%;
    border-radius: 100%;
    border: 2px solid white;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    padding: 6px;
    font-size: 12px;
  }
  .coauthor-name-icon{
    background-color: #08eecf;
  }
  .coauthor-name-icon1 {
    background-color: #0000ff;
  }
  .coauthor-name-icon2 {
    background-color: #f10385;
  }
  .coauthor-name-icon3 {
    background-color: #800080;
    
  }
  .coauthor-name-icon4 {
    background-color: #ffa500;
  }
  .coauthor-name-icon5 {
    background-color: #008000;

  }
  .remove-coauthor-icon {
    cursor: pointer;
    color: red;
  }

  .tox .tox-toolbar-overlord .tox-toolbar:not(.tox-toolbar--scrolling):first-child, .tox .tox-toolbar-overlord .tox-toolbar__primary, .tox:not(.tox-tinymce-inline) .tox-editor-header:not(.tox-editor-dock-transition){
    background: #91a0e4 !important;
    margin: 0px !important;
    color: white !important;
  }
  .tox-tinymce{
    /* box-shadow: 2px 0px 9px -3px #000 !important; */

  }
  .course-content-image-section {
    display: flex;
  }
  .course-content-date {
    padding: 8px 7px;
    border-radius: 7px;
  }
  .course-delete {
    /* text-decoration: line-through; */
    color: #c3c1c1 !important;
    /* background-color: #cfcfcf !important; */
  }
  .deleteCourse-line {
    text-decoration: line-through;
    color: #c3c1c1 !important;
  }

  .unit-content-ribbon {
    width: 15px;
    height: 35px;
  }