.course-content-sub-menue-li {
  font-size: 17px;
  font-weight: 600;
  font-style: normal;
  text-transform: capitalize;
  padding-bottom: 0px;
  margin-top: 10px;
  color: #0c0c0c;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}
.course-content-sub-menue-li:hover {
  color: #7c7b7b;
}
.add-course-content {
  display: flex;
  height: 100%;
}
.course-content-sub-menue-li span i {
  font-size: 20px;
  font-weight: 800;
}
.course-heading {
  display: flex;
  justify-content: space-between;
  background-color: #fef5f5;
  align-items: center;
  width: 100%;
  box-shadow: 0px 4px 9px -3px gray !important;
}
.course-heading-section {
  width: 80%;
}
.course-heading-section .courseTitle {
  width: 100%;
  font-weight: 600;
  font-size: 17px;
  text-transform: capitalize;
  color: #363636;
  text-shadow: 1px 1px 2px #c5c5c5;
}
.course-content-close-btn-container {
  justify-content: end;
  align-items: center;
  min-width: 10%;
  max-width: 10%;
}
.module-content-close-btn-container {
  justify-content: end;
  align-items: center;
  min-width: 10%;
  max-width: 10%;
}
.unit-content-close-btn-container {
  justify-content: end;
  align-items: center;
  min-width: 10%;
  max-width: 10%;
}
.course-content-three-dots {
  font-size: 17px;
  font-weight: 700;
  color: #048757;
}
.course-content-three-dots:hover {
  font-size: 18px;
  color: #000000;
}
.course-content-close-btn {
  padding: 0px 9px;
  color: #ff0000 !important;
  border: none;
  background: none;
  font-size: 20px;
  font-weight: 500;
  margin: 0px 7px 0px 0px;
  font-style: italic;
}
.course-content-close-btn:hover {
  color: #f51818 !important;
  font-weight: 600;
}
.course-name-section {
  width: 20%;
  box-shadow: 5px 2px 10px -3px gray;
  margin-right: 8px;
  margin-left: -15px;
  padding-top: 20px;
  background-color: #eceff1;
}
.course-name-section div {
  border-bottom: 2px solid #dfdfdf;
}
.course-form-section {
    width: 86%;
    box-shadow: 4px 3px 21px -10px gray;
    padding: 0px;
    overflow: auto;
    min-height: 100%;
    max-height: 100%;
}
body::-webkit-scrollbar {
  display: none;
}
.course-form-section::-webkit-scrollbar {
  display: none;
}
.course-form-section form {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-height: 100%;
}
.offcanvas-head {
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
}

.thumb-section {
  display: flex;
  justify-content: space-between;
  margin-right: 12px;
}
.course-content-editor {
  width: 60%;
}
.course-content-cat-auth {
  min-width: 40% !important;
  max-width: 40% !important;
}
.coverImage {
  max-width: 20%;
}
.upload-image-section {
  max-width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  cursor: pointer;
  /* padding: 12px 5px; */
}
.course-content-cover-img {
  width: 100%;
  height: 0%;
}
.upload-image-section:hover {
  background-color: #ffffff;
}

.upload-image-section img {
  min-width: 100%;
  max-width: 100%;
  /* height: 100%; */
}

.categorySelector {
  min-width: 100% !important;
  max-width: 100% !important;
  padding: 0px;

}
.categorySelector > div {
  height: 100%;
  background-color: #f7f7f7;

}
.categorySelector > div:hover, .categorySelector > div:focus{
  outline: none !important;
  box-shadow: 2px 2px 22px -9px #000000 !important;
  border-color: #6f7b7e !important;
}
.categorySelector > div:nth-child(3) > div:first-child {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  align-content: center !important;
  justify-content: flex-start !important;
}
.categorySelector > div:nth-child(4) > div {
  background-color: #d0cfcf !important;
  color: #000000 !important;
}

.dropdown-section-for-cat-couthor {
  width: 100%;
}
.category-section,
.coauthor-section,
.coauther-selection {
  min-width: 100%;
  max-width: 100%;
}
.coauther-selection {
  min-height: 20vh;
  max-height: 20vh;
  overflow-y: auto;
  background-color: #fbfbfb;
  border-radius: 0px 0px 10px 10px;
}
.coauther-selection::-webkit-scrollbar {
  display: none;
}

.coauthor-list-section {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .coauthor-name-icon {
    min-width: 15%;
    max-width: 15%;
    border-radius: 100%;
    border: 2px solid white;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    padding: 6px;
    font-size: 12px;
  }
  .coauthor-name-icon {
    background-color: #08eecf;
  }
  .coauthor-name-icon1 {
    background-color: #0000ff;
  }
  .coauthor-name-icon2 {
    background-color: #f10385;
  }
  .coauthor-name-icon3 {
    background-color: #800080;
  }
  .coauthor-name-icon4 {
    background-color: #ffa500;
  }
  .coauthor-name-icon5 {
    background-color: #008000;
  }
  .remove-coauthor-icon {
    cursor: pointer;
    color: #c43434;
    font-size: 20px;
    margin-right: 2px;
  }
  .remove-coauthor-icon:hover {
    color: #ff0000;
    font-size: 21px;
  }

.course-content-label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-left: 3px;
  color: #2e6c23;
}
.category-section select,
.coauthor-section select {
  width: 100%;
  padding: 6px 12px;
  margin-bottom: 3px;
  border-radius: 5px;
  font-size: 15px;
  border: 2px solid #dedede;
  margin-top: 3px;
  /* margin-left: 12px; */
}
.coauthor-section select:focus,
.category-section select:focus {
  border: 2px solid #dedede;
  outline: none;
}
.active-course {
  color: #7c7b7b;
}
.course-content-coauthor-list-li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  text-transform: capitalize;
}
.course-content-coauthor-list-avator {
    display: flex;
    align-items: center;
    max-width: 60%;
    min-width: 60%;
}

.show-course-option {
  display: inline;
}
.hide-course-option{
  display: none !important;
}
.save-course-content-btn-container {
    /* min-height: 17vh; */
    display: flex;
    justify-content: end;
    align-items: end;
    margin-top: 15px;
    /* max-height: 17vh; */
}
.unit-date-container {
  min-width: 60%;
    max-width: 60%;
}
