.course-create-form, .course-module-form, .course-unit-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.course-title {
    padding: 5px 12px;
    margin: 6px 2px 3px;
    border-radius: 6px;
    border-style: solid;
    border-color: #eee;
    font-size: 17px;
}
.course-title:hover, .course-title:focus {
    outline: none;
    box-shadow: 2px 2px 11px -8px #000;
    border-color: #e3e3e3;
}
.course-create-form .course-title, .course-start, .course-end, .module-title, .module-start, .module-end, .unit-title, .unit-content {
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.course-create-form label, .course-module-form label, .course-unit-form-label, .course-unit-content-label {
    padding: 8px 12px;
    font-size: 17px;
    font-weight: 500;
    margin-top: 10px;
    margin: 10px 2px 0px 3px;
}
.course-create-form input, .course-module-form input, .course-unit-form input, .unit-content select{
    padding: 8px 12px;
    margin: 6px 2px 3px;
    border-radius: 6px;
    border-style: solid;
    border-color: #eee;
    font-size: 17px;
    width: 70%;
}
.unit-content select {
    border: 2px solid #eee;
}
.course-create-form input:hover, .course-module-form input:hover, .course-unit-form input:hover, .unit-content select:hover,
.course-create-form input:focus, .course-module-form input:focus, .course-unit-form input:focus, .unit-content select:focus
 {
    outline: none;
    box-shadow: 2px 2px 11px -8px #000;
    border-color: #e3e3e3;
}

.save-module-btn-container {
    width: 100%;
}
.save-module-btn-container button {
    width: 50%;
    border: none;
    padding: 8px 0px;
    font-weight: 500;
    background-color: #77b4e5;
    border-radius: 8px;
    margin: 5px 0px;
}
.add-course-btn {
    display: flex;
    justify-content: end;
    margin-top: 12px;
    margin-right: 12px;
}
.course-module-section {
   width: 100%;
   margin: 0 auto;
}
.add-module-btn, .add-unit-btn {
    background: none;
    color: black;
    border: none;
    /* border-bottom: 3px solid gray; */
    box-shadow: 0px 4px 9px -8px gray;
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 600;
}
.add-module-btn:hover, .add-unit-btn:hover {
    background-color: #faf8f8;
    /* outline: none !important;
    border: none !important; */
}
.add-module-btn:focus, .add-unit-btn:focus {
    
    box-shadow: 0px 4px 15px -7px gray;
}
.all-course-content {
    box-shadow: 4px 5px 15px -3px gray;
}
.add-category-content {
    height: 100%;
}
.add-category-content form {
    height: 100%;
}
.add-category-content input, .add-category-content select {
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 3px;
    border-radius: 6px;
    border-style: solid;
    font-size: 17px;
    margin-top: 8px;
}
.add-category-content input:focus,.add-category-content input:hover, .add-category-content select:focus, .add-category-content select:hover {
    outline: none;
    box-shadow: 2px 2px 22px -9px #000;
    border-color: #6f7b7e;
}
.category-save-btn {
    height: 75%;
    display: flex;
    justify-content: end;
    align-items: end;
}
.add-course-content {
    display: flex;
    height: 100%;
   
}
.course-name-section {
    width: 13%;
    box-shadow: 5px 2px 10px -3px gray;
    margin-right: 8px;
    margin-left: -15px;
    margin-top: -12px;
    padding-top: 20px;
    background-color: #eceff1;
}
.course-name-section div {
    border-bottom: 1px solid #c8c6c6;
}
.course-name-section ul li {
    list-style: none;
    padding: 5px 6px;
    margin: 0px;
    font-weight: 500;
}
.course-form-section {
    width: 86%;
    box-shadow: 0px 0px 6px -1px gray;
    padding: 15px;
}
.course-form-section form {
    display: flex;
    flex-direction: column;
}
.offcanvas-head {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.upload-image-section {
    max-width: 18%;
    min-width: 18%;
    border: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    cursor: pointer;
    /* padding: 12px 5px; */
}
.upload-image-section:hover {
    background-color: #f1eded;
}
.choose-img{
    margin: 5px;
    font-size: 19px;
    font-weight: 500;
}
.upload-image-section img {
    width: 100%;
    height: 100%;
}
.category-section {
    display: flex;
    /* flex-direction: column; */
}
.category-section select {
    width: 30%;
    padding: 6px 12px;
    margin-bottom: 3px;
    border-radius: 6px;
    border-style: solid;
    font-size: 17px;
    margin-top: 8px;
}