.dashboard-card {
  cursor: pointer;
}
.dashboard-main-container {
  padding-left: 12px;
  padding-right: 12px;
}
.dashboard-chart-section {
  width: 45%;
}
.dashboard-chart-section div {
  width: 100% !important;
}
.dashboard-chart-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-new-registered-user-section {
  width: 45%;
  /* margin-top: 20px; */
  margin-top: -55px;
  height: 40vh !important;
  overflow: auto;
}
.dashboard-new-registered-user-section::-webkit-scrollbar {
  display: none;
}
.dashboard-new-registered-user-section h5, .dashboard-new-registered-user-section th {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}
