.nav-bar {
  background-color: #ffff;
}
/* .navbar-menu {
  width: 100%;
  display: flex !important;
  justify-content: space-between !important;
} */

.searchbar-container {
  margin-left: 385px;
}
.searchbar-container input[type='search'] {
  padding: 6px 13px;
  border-radius: 12px;
  border-style: solid;
  font-size: 15px;
  border-color: #aea7a7;
}
.searchbar-container input[type='search']:focus {
  outline: none;
  box-shadow: 2px 2px 15px -9px #000;
  border-color: #6f7b7e;
}
.notification-icon i {
  font-size: 25px;
  color: #ac1a79;
}
.notification-icon i:hover {
  color: #dd40a6;
}
.navbar-right {
  align-items: center;
}

.user-image {
  width: 45px;
  border: 2px solid #9d9898;
  border-radius: 50%;
  height: auto;
}

.user-name-container {
  display: flex;
  flex-direction: column;
}
.user-name-container .user-role {
  margin-top: -8px;
  font-size: 15px;
  text-align: center;
  color: #6c4040;
  font-weight: 300;
  margin-right: 20px;
}
.user-name-container .user-name {
  font-weight: 500;
  margin-right: 5px;
}
.logout-container{
  margin-right: 10px;
  cursor: pointer;
  color: red;
}
.logout-container .log-out-btn{
  font-size: 30px;
  color: #e09494;
}
.logout-container .log-out-btn:hover, .logout-container .log-out-btn:focus, .logout-container .log-out-btn:active {
  color: #d30404;
  font-weight: bolder;
}