/* .main-courses-section{
    display: flex;
    background-color: red;
    flex-direction: column;
    gap: 30px;
}

.main-courses-section .row{
    display: flex;
    gap: 30px;

}

.box{
    background-color: #D9D9D9;
    padding: 20px;
    width: 300px;
    text-align: center;
    font-size: 24px;
} */

.main-cards-container{
    display: flex;
    flex-wrap: wrap;
    gap :10px;
    overflow-y: scroll;
    height: 70vh;
    padding-top: 100px;
}

.card-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* border: 5px solid white; */
    width: 400px;
    /* height: 400px; */
    box-shadow: 5px 4px 19px -3px gray;
}

.card-container .upper-half{
    background-image: url(../content/Images/card-background.jpg);
    color: white;
    display: flex;
    padding: 20px;
}

.upper-half .instr-img{
    border-radius: 100%;
    border: 1px solid white;
    position: relative;
    top: 90px;
    left: 50px;
    z-index: 1;
    width: 62px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-container .second-half{
    padding: 20px;
}

.bottom-container{
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    border-radius: 100%;
    background-color: white;
}

.main-prog-div{
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.progress-main-div.block-view{
    margin-left: 0;
    margin-right: 0;
}

.progress, .progress-stacked{
    --bs-progress-height: 0.5rem !important;
}

.progress-tag{
    /* border: 2px solid blue;  */
    border-radius: 5px;
    padding: 5px;
    /* width: 50%; */
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 50%);
    margin-top: 15px;
    color: white;
    font-weight: bold;
}


.course-toggle-btn{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 50px;
    top: 50px;
    margin-bottom: 50px;
}
/* --------------List View Css---------- */

.main-listView-Container{
    overflow-y: scroll;
    height: 100vh;
    padding-top: 100px;
    box-shadow: 5px 4px 19px -3px gray;

}

.list-container{
    display: flex;
    justify-content: space-evenly;
    /* gap: 100px; */
    align-items: center;
    /* padding: 30px; */
    border-bottom: 1px dotted black;
    
}

.list-container .image-div{
    /* width: 250px; */
    /* height: 50px; */
    width: 150px;
    height: 100px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 15px */
}
.progress-statics-div{
    /* display: flex;
    gap: 5px; */
}

.launch-btn{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.progress-main-div{
    margin-left: 100px;
    margin-right: 100px;
}