.sidebar {
    background-color: #ffff;
    color: #0000 !important;
    border-radius: 0px;
    /* width: inherit; */
    margin: 0px 5px 0px 0px;
    box-shadow: 4px 11px 21px -10px gray;
}
.sidebar:hover {
    overflow-y: auto;
    height: 100vh;
}
.sidebar-nav li a{
    border-bottom: 2px solid #a2a2a2;
}
.sidebar-nav-sub li a{
    border-bottom: 1px solid #b7b7b7;
}
.sidebar-nav > :first-child a {
    border-bottom: none;
}
.sidebar-nav li a span {
    font-weight: 500;
    text-transform: capitalize;
    color: #4a4545;
}