.lms-log-container {
  width: 35%;
}
/* Signup page */
.sign-in-page {
  min-width: 100vw;
  max-width: 100vw;
  min-height: 99vh;
  max-height: 99vh;
  /* margin: 10% auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sign-in-form {
  width: 35%;
  display: flex;
  flex-direction: column;
  padding: 60px 50px;
  border-radius: 15px;
  background: #fdfdfd;
}
.sign-in-form label {
    margin-bottom: 10px;
    margin-left: 5px;
    font-size: 20px;
    font-weight: 600;
}
.sign-in-form input {
  padding: 10px 12px;
  margin-bottom: 10px;
  border-radius: 12px;
  border-style: solid;
  font-size: 17px;
}

.sign-in-form input:focus {
  outline: none;
  box-shadow: 2px 2px 22px -9px #000;
  border-color: #6f7b7e;
}

.sign-in-form .button {
  border: none;
  background-color: #034883;
  color: #ffffff;
  margin-top: 12px;
  padding: 12px 0px;
  font-size: 20px;
  font-weight: 500;
}
.sign-in-form .button:hover {
  background-color: #075fa6;
  color: #ffffff;
  cursor: pointer;
}
.sign-in-form .forgot-password {
  text-align: center;
  margin-top: 12px;
}
.sign-in-form .forgot-password a {
  text-decoration: none;
}
/* a:-webkit-any-link {
    text-decoration: none;
    color: #848181;
    border-bottom: 1px solid #b7b7b7;
  } */
.active {
  color: #000;
}
.error {
  color: red;
}
.password-field {
  display: flex;
  align-items: center;
  width: 100%;
}
.password-field input {
  min-width: 100%;
}
.password-field i {
  position: relative;
  right: 25px;
  padding-bottom: 8px;
}

.eye_show {
  cursor: pointer;
}
.eye_show:hover {
  color: black;
}


