.team-name {
    padding: 5px 12px;
    margin: 6px 2px 3px;
    border-radius: 6px;
    border-style: solid;
    border-color: #eee;
    font-size: 17px;
}
.team-name:hover, .team-name:focus {
    outline: none;
    box-shadow: 2px 2px 11px -8px #000;
    border-color: #9c9c9c;
}
.team-save-btn {
    height: 82%;
    display: flex;
    justify-content: end;
    align-items: end;
    margin-top: 7px;
}
.save-team-btn-section{
    display: flex;
    justify-content: end;
    margin-right: 12px;
    align-items: end;
    height: 260px;
}
.save-team-btn-section button {
    border: none;
    background: none;
    background-color: #009688;
    padding: 8px 10px;
    font-weight: 500;
    color: #fff3f3;
    border-radius: 8px;
}
.save-team-btn-section button:hover, .save-team-btn-section button:focus, .save-team-btn-section button:active {
    background-color: #0caf9f;
    color: #000000;
    outline: none;
    border: none;
}
