.all-usersform {
  margin: 8px 12px 10px 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add-new-user-container {
  display: flex;
  align-items: center;
}

.all-usersform input[type="search"] {
  padding: 6px 13px;
  border-radius: 12px;
  border-style: solid;
  font-size: 15px;
  border-color: #aea7a7;
}
.all-usersform input[type="search"]:focus {
  outline: none;
  box-shadow: 2px 2px 15px -9px #000;
  border-color: #6f7b7e;
}

.allusers-image {
  width: 45px;
  border: 2px solid #9d9898;
  border-radius: 50%;
  height: auto;
  margin-right: 10px;
}
.allusers-name-container {
  display: flex;
  margin: 0;
}
.allusers-name-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.allusers-name-section .designation {
  padding: 0px 12px;
  font-size: 12px;
  font-weight: 400;
  background: #65a3c2;
  border-radius: 8px;
  color: #ffffff;
}
.all-users-content {
  box-shadow: 4px 5px 15px -3px gray;
  /*  */
  /* max-height: 88vh;
  max-width: 99%; */
  max-height: 80vh;
  min-height: 80vh;
  max-width: 100%;
  overflow-y: auto;
}
.all-users-content::-webkit-scrollbar {
  display: none; 
}
.body::-webkit-scrollbar {
  display: none; 
}
.all-user-content-table {
  max-width: 100%;
  overflow-y: auto;
}
.all-user-content-table::-webkit-scrollbar {
  display: none; 
}
.all-user-content-table::-webkit-scrollbar {
  display: none; 
}
.all-user-next-container{
  margin-top: 15px;
    display: flex;
    justify-content: end;
    /* margin-right: 30px; */
    width: 96%;
}
.all-user-next-container i {
  font-size: 30px;
}
/* .form-check-input:disabled {
  pointer-events: none;
  filter: none;
  opacity: 1;
} */

.add-user-main-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.add-user-checkbox {
  display: flex;
  align-items: center;
  justify-content: start;
}

.add-new-user {
  padding: 10px 12px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}
.add-new-user:hover {
  text-decoration: none;
  background-color: #176cbb !important;
}

/* Block view */
.userCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 2px;
}
.userCardImg {
  border-radius: 50%;
  border: 1px solid gray;
  width: 70px;
  margin: 5px auto;
}
.userBlockCard {
  width: 19%;
  box-shadow: 0px 0px 5px -2px #d1cece;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;;
}
.blockCardBody {
  text-align: center;
  font-size: 14px;
  padding-top: 10px;
}

.all-users-content .table tr {
  border: none !important;
  border-bottom: 2px solid #e4e4e4 !important;
  /* align-items: center; */
}
.all-users-content .table tr:last-child {
  border-bottom: none o !important;
}
.all-users-content .table tr th {
  padding: 9px 0px;
  position: sticky;
  top: 0;
  background-color: #e9e9e9;
  z-index: 1;
  text-align: start;
  border: none;
}
.all-users-content .table tr th:last-child {
  padding-left: 2px;
}

.all-users-content .table td {
  border: none !important;
  padding: 2px 0px;
  text-align: start;
  /* border-bottom: 2px solid #e4e4e4 !important;  */
  /* display: flex; */
}
.all-user-icon {
  font-size: 27px;
  /* border: 2px solid gray; */
  border-radius: 50%;
  margin-right: 7px;
  margin-left: 5px;
  padding: 3px;
}
.all-user-role-container {
  color: #070707;
  /* padding: 0px 5px 3px; */
  border-radius: 8px;
  /* text-transform: capitalize; */
  font-weight: 400;
  text-align: start;
  /* padding-top: 0px; */
  margin: 10px 0px;
}
.admin-role {
  background: #ff0000;
  color: #ffffff;
}
.instructor-role {
  background: #0d6efd;
  color: #ffffff;
}
.learner-role {
  background: #1b8755;
  color: #ffffff;
}
.all-user-heading-contaner {
  display: flex;
  align-items: center;
}
.loading-container {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.all-user-table-heading{
  background-color: #cff4fc  !important; 

}
.single-user-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 18px;
}
.single-user-heading-title{
  text-align: center;
  width: 95%;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
  margin-top: 30px;
}
.single-user-icon-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-user-offcanvas{
  min-height: 100vh !important;
  max-height: 100vh !important;
}
.single-user-offcanvas-body {
  min-height: 98vh;
  max-height: 98vh;
  /* overflow-y: auto; */
}
body::-webkit-scrollbar {
  display: none; 
}
.single-user-offcanvas-body::-webkit-scrollbar {
  display: none; 
}
.single-user-icon {
  font-size: 50px;
  border: 3px solid #dcd9d9;
  border-radius: 50%;
  padding: 40px;
  margin: 20px 0px; 
}
.first-name-tag,
.last-name-tag,
.email-tag,
.role-tag,
.gender-tag,
.phone-tag,
.city-tag,
.country-tag {
  margin-left: 30px;
  padding: 7px 11px;
  font-size: 17px;
  width: 70%;
  background: #f4f3f3;
  border-radius: 6px;
  box-shadow: 0px 0px 8px 2px #f7f6f6;
}
.single-user-label {
  font-size: 17px;
  font-weight: 600;
  width: 30%;
  text-transform: capitalize;
  font-style: italic;
  padding: 7px 11px;
  background: #f0efef;
  border-radius: 6px;
  box-shadow: 0px 0px 8px 2px #f7f6f6;
}
